<h1>FutureTechNews</h1>
<p><span class="flow-text">The latest future tech from around the web.</span></p>



<div class="row">
<div class="col m12">
<% @news_items.each do |news_item| %>
	<div class="card-panel grey lighten-5 z-depth-1">
          <div class="row">
            <div class="col s4">
              <img src="<%= news_item.main_image %>" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <h5 class="card-title light-blue-text"><a href="<%= news_item.url %>"><%= image_tag news_item.favicon, width: '20px' %> <%= news_item.title %></a></h5>
	      			<p><%= news_item.description %></p>
	      			
	      			<p>
	      				<% news_item.tags.each do |tag| %>
	      					<div class="chip orange"><%= link_to '#' + tag.name, root_path(tag: tag.name), class: 'white-text' %></div>
	      				<% end %>
	      				<% if news_item.user %> Submitted by: 
		      			
		      				<div class="chip">
	      				    <img src="<%= news_item.user.identities.first.image %>" alt="<%= news_item.user.identities.first.name %>">
	      				    <%= news_item.user.identities.first.name %>
	      				  </div>
		      			
		      		<% end %>
	      			</p>
            </div>
          </div>
        </div>
<% end %>
</div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Submit article</h4>
    <%= form_for @news_item do |f| %>
				<%= f.label :url %>
				<%= f.text_field :url %>
				<br>
				<%= f.label :tag_list %>
				<%= f.text_field :tag_list %>
				<br>
				<%= f.submit %>
			<% end %>
  </div>
</div>
<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>